[include]
  path = .gitconfig_users
[core]
  editor = code --wait
[diff]
  tool = vscode
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "vscode"]
  cmd = code \"$MERGED\"
  trustExitCode = false
[merge]
  conflictStyle = diff3
  ff = true
[color]
  ui = auto
[alias]
  me = !git config --get user.name && git config --get user.email
  pwd = rev-parse --abbrev-ref @
  ref = reflog -n 10
  mfe = merge --no-ff --no-edit
  mfeo = "!f () { git fetch && git merge --no-ff --no-edit origin/$1;};f"
  fpull = "!sh -c 'git fetch; git status; echo \"\n > git reset --hard origin/$(git symbolic-ref --short HEAD)\"; read -p \"Are you sure? [y/N]: \" yn; case \"$yn\" in [yY]*) ;; *) echo \"abort.\"; exit ;; esac; git reset --hard origin/$(git symbolic-ref --short HEAD);'"
  clean-branch = !GIT_CLEAN_BRANCH_CURRENT=$(git pwd) && git switch master && git branch --merged | tr -d ' \\*' | grep -v 'master' | xargs git branch -d && git switch $GIT_CLEAN_BRANCH_CURRENT
  logg = log --pretty='format:%C(yellow)%h %C(blue)%>(12)%ad %C(green)%<(8)%aN %C(red)%d %C(reset)%s' --date=format:'%Y/%m/%d %H:%M:%S'
[ghq]
  root = ~/Development/
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[pull]
  rebase = false
